body {
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #171717;
}

canvas {
    display:block;
    border: 2px solid brown;
}
.gamePlace {
    display: flex;
    justify-content: center;
}
.firstInteraction {
    margin: 20px auto;
    display: block;
}
.info {
    color: white;
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
    opacity: 0.3;
}